streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
pydantic
pypdf
python-docx
unstructured
python-dotenv
